tfoot.footable-pagination tr td {
  text-align: center;
}

.footable-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}

  .footable-nav li {
	display: inline-block;
  }

.footable-nav li a {
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	color: #0066cc;
    font-weight: bold;
	border:1px solid #EEE;
}
.footable-nav li a:hover {
	background: #f0f0e1;
	border:1px solid #337ab7;
	color: #0066cc;
}
.footable-nav .footable-page-current {
	background: #0059b3;
    border-radius:5px;
}

.footable-nav .footable-page-current a{
	color: #fff;
}