
#PageHeader
{
   background-color: transparent;
   border: 1px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

#Menu
{
   background-color: #FCFCFC;
   height: 87px;
}
#wb_Menu ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wbd_Menu ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_Menu ul:after
{
   clear: both;
   content: "";
   display: block;
}
#wb_Menu ul li
{
   background-color: #FCFCFC;
   display: list-item;
   float: left;
   list-style: none;
}
#wb_Menu ul li i
{
   font-size: 30px;
   width: 30px;
}

#wb_Menu ul li a 
{
   color: #4169E1;
   font-family: Arial;
   font-size: 16px;
   font-weight: normal;
   font-style: normal;
   padding: 20px 30px 20px 30px;
   text-align: center;
   text-decoration: none;
}

.Menu a 
{
   display: block;
}
#wb_Menu li a:hover, #wb_Menu li .active
{  
   color: #5cb85c;
}
#wb_Menu ul ul
{
   display: none;
   position: absolute;
   top: 87px;
   z-index: 9999;
}
#wb_Menu ul li:hover > ul
{
   display: list-item;
}
#wb_Menu ul ul li 
{
   background-color: transparent;
   color: #4168E1;
   float: none;
   position: relative;
   width: 170px;
   border-left: 1px solid #4168E1;
}

#wb_Menu ul ul li a:hover, #wb_Menu ul ul li .active
{
   /*background-color: #CCCCCC; */
   color: #5cb85c;
   /*border-left: 1px solid #5cb85c;*/
}
#wb_Menu ul ul li i 
{
   margin-right: 3px;
   vertical-align: middle;
}
#wb_Menu ul ul li a 
{
   color: #4169E1;
   padding: 10px 10px 10px 10px;
   text-align: left;
   vertical-align: middle;
}
#wb_Menu ul ul ul li 
{
   left: 212px;
   position: relative;
   top: -87px;
}
#wb_Menu .arrow-down 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top: 4px solid #4169E1;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
#wb_Menu .arrow-left 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-left: 4px solid #FFFFFF;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0 dotted;
}
#wb_Menu li a:hover .arrow-down
{ 
   border-top-color: #424242;
}
#wb_Menu ul ul li a:hover .arrow-left, #wb_Menu ul ul li .active .arrow-left
{ 
   border-left-color: #424242;
}
#wb_Menu .toggle,[id^=Menu-submenu]
{
   display: none;
}

@media all and (max-width:485px) 
{
#wb_Menu 
{
   margin: 0;
}
#wb_Menu ul li a, #wb_Menu .toggle
{
   font-size: 16px;
   padding: 20px 10px 20px 10px;
}
#wb_Menu .toggle + a
{
   display: none !important;
}
.Menu 
{
   display: none;
   z-index: 9999;
}
#wb_Menu .toggle 
{
   display: block;
   background-color: #FCFCFC;
   color: #4169E1;
   padding: 0px 10px 0px 10px;
   line-height: 70px;
   text-decoration: none;
   border: none;
}
#wb_Menu .toggle:hover 
{
   background-color: #CCCCCC;
   color: #424242;
}
[id^=Menu-submenu]:checked + ul 
{
   display: block !important;
}
#Menu-title
{
   height: 87px;
   line-height: 87px !important;
   text-align: center;
}
#wb_Menu ul li 
{
   display: block;
   width: 100%;
}
#wb_Menu ul ul .toggle,
#wb_Menu ul ul a 
{
   padding: 0 20px;
}
#wb_Menu a:hover,
#wb_Menu ul ul ul a 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#wb_Menu ul li ul li .toggle,
#wb_Menu ul ul a 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#wb_Menu ul ul ul a 
{
   padding: 20px 10px 20px 30px;
}
#wb_Menu ul li a 
{
   text-align: left;
}
#wb_Menu ul li a br 
{
   display: none;
}
#wb_Menu ul li i 
{
   margin-right: 10px;
}
#wb_Menu ul ul 
{
   float: none;
   position: static;
}
#wb_Menu ul ul li:hover > ul,
#wb_Menu ul li:hover > ul 
{
   display: none;
}
#wb_Menu ul ul li 
{
   display: block;
   width: 100%;
}
#wb_Menu ul ul ul li 
{
   position: static;
}
#Menu-icon 
{
   display: block;
   position: absolute;
   left: 30px;
   top: 31px;
}
#Menu-icon span 
{
   display: block;
   margin-top: 4px;
   height: 2px;
   background-color: #4169E1;
   color: #4169E1;
   width: 24px;
}
#wb_Menu ul li ul li .toggle:hover
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_Menu .toggle .arrow-down 
{
   border-top-color: #4169E1;
}
#wb_Menu .toggle:hover .arrow-down, #wb_Menu li .active .arrow-down
{ 
   border-top-color: #424242;
}
#wb_Menu ul li ul li .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_Menu ul li ul li .toggle:hover .arrow-down, #wb_Menu ul li ul li .active .arrow-down
{ 
   border-top-color: #424242;
}
}
#wb_Zeuss 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 none;
   padding: 0;
   margin: 0;
   text-align: center;
}


#Logo_empresa
{
   width: 90px;
   height: 90px;
   max-height: 90px;
   max-width: 90px;
   background-color: #F0F0F0;
   background-image: none;
   border: 0px #4169E1 solid;
   -webkit-border-radius: 45px / 45px;
   -moz-border-radius: 45px / 45px;
   border-radius: 45px / 45px;
   
}


#wb_Logo_empresa
{
   position: absolute;
   left: 88%;
   top: 6%;
   width: 8%;
   height: 63%;
   z-index: 1;
}
#PageHeader
{
   display: block;
   position: relative;
   overflow: hidden;
   text-align: left;
   width: 100%;
   height: 100px;
   z-index: -1;
}


@media only screen and (max-width: 1250px)
{

   #wb_Menu
   {
      left: 5%;
   }
}
@media only screen and (max-width: 1055px)
{

   #wb_Menu
   {
      left: 2%;
   }
}
@media only screen and (max-width: 1055px)
{

   #wb_Menu
   {
      left: 0%;
   }
}

@media only screen and (max-width: 964px)
{

   #wb_Menu
   {
      left: 0%;
         width: 770px;
   height: 88px;
   visibility: visible;
   display: inline;

   }
}
@media only screen and (max-width: 800px)
{
div#container
{
   width: 100%;
}
#PageHeader
{
   height: 100px;
   visibility: visible;
   width: 100%;
}

#wb_Menu
{
   left: 5%;
   width: 770px;
   height: 88px;
   visibility: visible;
   display: inline;
}

#wb_Logo_empresa
{
   left: 84%;
   top: 6%;
   width: 11%;
   height: 63%;
   visibility: visible;
   display: inline;
}
#Logo_empresa
{
   width: 90px;
   height: 90px;
}
#Logo_empresa_text
{
   left: 15px;
   top: 37px;
   width: 59px;
   height: 37px;
}


}

@media only screen and (max-width: 768px)
{
   
   div#container
   {
      width: 698px;
   }
   #PageHeader
   {
      height: 100px;
      visibility: visible;
   }
   #PageHeader
   {
      width: 100%;
   }
   #wb_Menu
   {
      left: 0px;
      top: 142px;
      width: 698px;
      height: 88px;
      visibility: visible;
      display: inline;
   }

   #wb_Logo_empresa
   {
      left: 81%;
      top: 6%;
      width: 12%;
      height: 63%;
      visibility: visible;
      display: inline;
   }
   #Logo_empresa
   {
      width: 90px;
      height: 90px;
   }
   #Logo_empresa_text
   {
      left: 15px;
      top: 37px;
      width: 59px;
      height: 37px;
   }

}

@media only screen and (max-width: 480px)
{
div#container
{
   width: 445px;
}
#PageHeader
{
   height: 100px;
   visibility: visible;
   width: 100%;
}

#wb_Menu
{
   left: 0px;
   top: 142px;
   width: 440px;
   height: 88px;
   visibility: visible;
   display: inline;
}

#wb_Logo_empresa
{
   left: 78%;
   top: 6%;
   width: 17%;
   height: 57%;
   visibility: visible;
   display: inline;
}
#Logo_empresa
{
   width: 80px;
   height: 82px;
}
#Logo_empresa_text
{
   left: 14px;
   top: 33px;
   width: 51px;
   height: 34px;
}

}

@media only screen and (max-width: 320px)
{
   div#container
   {
      width: 257px;
   }
   #PageHeader
   {
      height: 100px;
      visibility: visible;
      width: 100%;
   }

   #wb_Menu
   {
      left: 10px;
      top: 130px;
      width: 240px;
      height: 88px;
      visibility: visible;
      display: inline;
   }
   #wb_Zeuss
   {
      left: 3%;
      top: 15%;
      width: 42%;
      height: 46%;
      visibility: visible;
      display: inline;
   }

   #wb_Logo_empresa
   {
      left: 54%;
      top: 7%;
      width: 27%;
      height: 58%;
      visibility: visible;
      display: inline;
   }
   #Logo_empresa
   {
      width: 70px;
      height: 70px;
   }
   #Logo_empresa_text
   {
      left: 12px;
      top: 27px;
      width: 45px;
      height: 30px;
   }
}
