@media print 
{	
	.doc-content{border : 0px solid #000;}	
}
.doc {
  position: relative ;
  margin: 1px;
}
.doc-content {
  position: relative;
  background-color: #FFF;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 0px solid #999;
  border: 0px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
}
#observaciones-result{
	font-size: 1em;
}
.doc-body {
  position: relative;
  padding: 1px;
}
	body{
		margin:auto !important;
	}
	.col{
		border: 0px solid #000;
		padding: 15px;
		padding-top: 5px;
		padding-bottom: 1px;
	}
	.titulo{
		font-weight: bold;
		font-size: 1.2em;
		color:#002B55;
	}
	.titulo-1{
		font-weight: bold;
		font-size: 1.2em;
		
		/*border-bottom-style: dotted;
		border-bottom-width: 1px;
		border-bottom-color: #CCC;*/
	}
	#titulo{
		font-weight: bold;
		font-size: 0.9em;
		color:#002B55;
	}
	.centrado{
		text-align: center;
		align-content: center;
	}
	#subtitulo{
		color:red;
		font-weight: bold;
		font-size: 1.1em;
	}
	.notas{
		font-size:0.8em;
	}
	.hd{
		padding:0px;
		font-weight: bold;
		
	}
	.th{
		padding:0px;
		padding-left:5px;
		font-size: 0.8em;
		font-weight: bold;
	}
	
	.th-m{
		border:px solid #000;
		padding:0px;
		min-width: 145px;
		font-size: 0.8em;
		font-weight: bold;
		padding-top:1px;
		padding-bottom:2px;
	}
	.td{
		padding:0px;
		border:0px solid #000;
		font-size: 0.8em;
		padding-top:0px;
		padding-bottom:0px;
	}

	.th-i{
		font-size: 0.9em;
		font-weight: bold;
	}
	.td-i, .td-dc{
		font-size: 0.85em;
	}
	.td-dc{
		padding-top:0; 
	}
	.head-i{
		border-bottom: 1px solid #CCC;
	}
	.container-report{
		font-size: 0.85em;
		border: 0px solid #000;
		border-radius: 3px;
		padding: 5px;
	}
	
	.margen-top{
		height: 35px;
	}
	.col-xs-4 {
	  width: 31%;
	}
	.col-xs-6 {
	  width: 48%;
	}
	.col-xs-5 {
	  width: 40%;
	}
	.col-xs-7 {
	  width: 57%;
	  margin 0;
	}
	.col-xs-15 {
	  float: left;
	  width: 12%;
	}
	.col-xs-45 {
	  float: left;
	  width: 37%;
	}
	table td {
	  padding: 3px !important;
	  line-height: 1.42857143 !important;
	  vertical-align: top !important;
	  border-top:0px solid #ddd !important;
	}
	.firmas{
		padding:0;
		font-size: 0.95em
	}
	.box{
		border-radius: 5px;
		border:1px solid #AAA;	
		padding-left: 8px;
		padding-right: 8px;
		margin-top: 3px;
	}
	.box-resultados{
		width: 810px;
		height: 336px;
	}
	.box-resultados-mb{
		width: 810px;
		height: 300px;
	}
	
	.datos{
		height: 260px;
	}
	.datos-mb{
		height: 220px;
	}

	.borde{
		border:1px solid #000;
		border-radius: 3px;
	}
	.consecutivo{
		font-weight: bold;
		font-size: 1em;
	}
	#fecha-informe{
		font-size: 1em;	
		vertical-align: text-middle;
	}
	.c-v{
		vertical-align: text-middle;
	}
	div.foot1{
		margin-top: 1.2em;
		font-size: 0.80em;
		text-align: right;
	}
	.obs{
		border-top:1px solid #CCC;
		padding-top:0;
		font-size: 0.8em; 
	}

	.encabezado {
    position: relative;
    top: 1px;
    left: 5px;
	}
	.footter{
	width: 99%;
    position: absolute;
    top: 955px;
    left: 5px;		
	}
