		table .listado
		{
			border:1px solid #CCC;
		}
		.edit
		{
			border:0px solid #CCC;
			padding: 40px;
			padding-top: 20px;
			text-align: center;
		}
		.box-edit{
			
		}
		.btn-guardar
		{
			color:#337ab7;
			border-color: #337ab7;
		}
		#edit
		{
			border-color:#337ab7;
		}
		.listado table thead
		{
			background-color: #EEE;
		}
		#id-cat, #id-class, #id-param, #id-equipo, #id-frase
		{
			display: none;
		}
		.id{
			display: none;
		}